@using ProjetFinal_GuyllaumePaulChristiane.Utilities
@using ProjetFinal_GuyllaumePaulChristiane.Enums

@model IEnumerable<ProjetFinal_GuyllaumePaulChristiane.Models.DVD>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    
}
@functions {
    private bool IsChecked(string option)
    {
        var selectedSortOptions = ViewData["SelectedSortOptions"] as string[];
        return selectedSortOptions != null && selectedSortOptions.Contains(option);
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Créer un DVD</a>
    <a asp-action="Import" class="btn btn-secondary">Importation d'exemple de DVDs</a>
</p>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-action="Index" asp-controller="DVDs" method="get">
    <label>
        <input type="checkbox" name="sortedBy" value="Titre" onchange="this.form.submit()" @(IsChecked("Titre") ? "checked" : "") /> Tri par Titre Francais
    </label>
    <label>
        <input type="checkbox" name="sortedBy" value="User" onchange="this.form.submit()" @(IsChecked("User") ? "checked" : "") /> Tri par Emprunteur
    </label>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitreFrancais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePochette)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurEmprunteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.ImagePochette)" alt="Image Pochette" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitreFrancais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurEmprunteur)
        </td>
        <td>
            @if(UserManager.GetUserName(User) == item.UtilisateurEmprunteur){
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> 
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            }else{
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> 
                <a asp-action="Contact" asp-route-id="@item.Id">Contacter</a> 
                <a asp-action="Appropriation" asp-route-id="@item.Id">Appropriation</a>
            }
        </td>
    </tr>
}
    </tbody>
</table>
